<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/index.css">
  <title>@fuadnafiz98/bash-ssg</title>
</head>

<body>
  ${body}

  <div class="blogs">
    $for(links)$
    <div class="blog">
      <!-- <img src="/blogs/${links.thumbnail}" alt="${links.title}" /> -->
      <div class="blog__left">
        <strong>◼</strong>
        <a href="/blogs/${links.url}">${links.url}</a>
      </div>
    </div>
    $endfor$
  </div>

  <script src="/assets/js/index.js"></script>
</body>

</html>
