<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${title}</title>
  <link rel="stylesheet" href="/_assets/css/index.css">
  <style>
    .prose code {
      color: #111827;
      font-weight: 600;
      padding: 2px 3px;
      background: #E5E7EB;
      border-radius: 3px;
    }

    .prose code:after,
    .prose code:before {
      content: "`";
    }

    *,
    :after,
    :before {
      box-sizing: border-box;
      border: 1 solid #5E4D75;
    }
  </style>
</head>

<body class="bg-primary">
  <header>
    <h1
      class="max-w-screen-md px-5 mx-auto mt-24 mb-4 text-3xl font-bold leading-tight text-center sm:px-0 sm:text-4xl">
      Title of the page</h1>
  </header>
  <article
    class="px-6 pb-24 mx-auto mt-8 prose prose-yellow lg:mt-24 md:mt-16 lg:px-0 md:px-8 lg:prose-xl md:prose-lg sm:pb-32">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ad, ab dignissimos rerum nostrum praesentium
    repellendus? A et, iusto amet tempora aut labore cumque vel adipisci quibusdam ex libero placeat temporibus ipsum
    fugit deleniti officia deserunt possimus facere! Debitis unde quibusdam quaerat ex quo soluta rerum, fugiat iste
    officia minus, necessitatibus facilis consequuntur sed non expedita optio! Possimus expedita sunt cumque nam quidem
    quisquam fugit eos! Repudiandae atque, vel ab debitis aspernatur neque repellat explicabo nemo nihil hic, officiis
    mollitia laborum aliquid molestiae voluptates, architecto eum. Cumque, accusantium asperiores? Maxime animi
    dignissimos quae omnis vel dolorum dolorem voluptatem, quo tempora.0
  </article>
</body>

</html>